

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {
    background-color: rgb(230, 170, 219);
    
}

.timer {
    color: white;
    font-size: 1.3em;
    border: 2px dashed rgb(255, 0, 174);
    padding: 10px;
    border-radius: 5px;
}

button {
    outline: none;
    background-color: rgb(255, 0, 174);
    color: white;
    /* height: 2.5em; */
    padding: 5px;
    font-size: 1.3em;
    border-radius: 5px;
    border: solid 2px;
    border-color: rgb(255, 161, 79);
    

}

button:hover {
    cursor: pointer;

    border-color: white;
}

.outer-container {
   
    height: 100vh;
}

.top-bar{
    /* */
   padding: 50px;
   
    
}
.top-bar .timer {
    background-color: rgb(230, 170, 219);
    float: right;
    
}

.inner-container{
    height: 70%;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 161, 79);
    border: 2px dashed rgb(255, 0, 174);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 5%;
}

header, main{
    color: rgb(255, 0, 174);
    text-align: center;
    padding: 15px;
}
header{
    display: block;
}

h1 {
    color: white;
}
h2 {
    color: white;
    font-size: 2em;
    padding-bottom: 20px;
}

p {
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

#go-button {
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: solid rgb(230, 170, 219);
    
}
#go-button:hover {
    cursor: pointer;
    border-color: white;
    border: solid;
}

.hide {
    display: block;
}
#answer-buttons-list{
    display: grid; /*grid!*/
    grid-template-columns: repeat(2, auto);
    margin-top: 20px;
}

.answer-list {
    list-style: none;
    padding: 15px;
}

.answer-btn {
    padding: 10px;
    border: solid rgb(230, 170, 219);
}

.answer-btn:hover {
    cursor: pointer;
    border-color: white;
}
main {
    /*display: none;*/
}


/* your score Screen*/

#question-screen {
    display: none;
}

#next-btn {

    margin-top: 40px;
    border: solid rgb(230, 170, 219);
    padding: 10px;

}


#next-btn:hover {

    margin-top: 40px;
    border-color: white;
}

.finish-screen {
    display: none;
}

.highscores{
    display: none;
}

ol{
    
    font-size: 1.5em;
    text-align: start;
    padding-left: auto;
    padding-top: 15px;
    line-height: 35px;
}

.submit-botton {
    border: solid rgb(230, 170, 219);
}

.submit-button:hover {
    cursor: pointer;

    border-color: white;
}

.try-button:hover{
    cursor: pointer;

    border-color: white;
}


/*.highscores ol {
    overflow-y: scroll;
    max-height: 150px;
}*/